@model pharmacy_management.Models.ferozson

@{
    ViewBag.Title = "Search_Ferozsons";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<h1 class="hd_style" style="color:#148187">Your search result</h1>
<br />
<br />
<br />
<ul>
    <li><strong>Trademark : </strong>@Model.trademark</li>
    <li><strong>Generic : </strong>@Model.generic</li>
    <li><strong>Cure : </strong>@Model.cure</li>
    <li><strong>Potency : </strong>@Model.potency</li>
</ul>

<br />
<br />
<br />
<div style="border-bottom:1px solid #6d6d6d"></div>
<br />
<br />
<br />